/* Etilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: rgb(29, 29, 29);
    line-height: 1.6;
}

aside{
    color: white;
}

section{
    color: whitesmoke;
}

h1{
    font-weight: bold;
    font-size: 1.5em;
    color:whitesmoke
}

h2,h3,h4,h5,h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

/* estilos del header y menu */

header{
    display: flex;
    padding: 12px;
    background-color: slategrey;
    justify-content: space-between;
}

.headerLogo{
    display: flex;
    flex-direction: row;
}

.headerLogo_imagen{
    width: 1.6rem;
    margin-right: .3em;
}

.headerNavItem{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.itemNav{
    margin: 5px;
}

/* estilos de la seccion principal */
.seccionMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}