
:root {
    /* Colores principales */
        --color-primario: #f2e8e7;
        --color-secundario: #393836;   
        --color-texto: #c3c3c3;       
        --color-texto-secundario: #dfc7c7;       
        --color-fondo: #070707;  
        --color-fondo-carga: #a00000;
        --color-hover: #ff4c4c;

    /* Tipografía */
        --fuente-principal: 'Helvetica', sans-serif;

    /* Tamaños en rem */
        --tamano-h1: 2.5rem;  
        --tamano-h2: 2rem;     
        --tamano-h2: 2rem;     
        --tamano-texto: 1.5rem;  

    /* Espacios */
        --espaciado: 1rem;
}

/* estilos generales de los elementos */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fuente-principal);
    font-size: var(--tamano-texto);
    color: var(--color-texto);
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--fuente-principal);
    font-size: var(--tamano-h1);
    font-weight: bold;
    color: var(--color-primario);
}

h2 {
    font-size: var(--tamano-h2);
    color: var(--color-secundario);
}

section {
    scroll-margin-top: 1800px;
}

/* Clases flexbox */
.flex-row-beteween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col-strat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}